/* New colors */

$primary-black: rgb(63, 48, 56);
$secondary-black: black;
$gray1: #2c2c2e;
$gray2: #3a3a3c;
$gray3: #48484a;
$gray4: #636366;
$gray5: #8e8e93;
$gray6: #aeaeb2;
$gray7: #c7c7cc;
$gray8: #d1d1d6;
$gray9: #e5e5ea;
$gray10: #f4f5f7;
$primary-white: #ffffff;
$primary-blue: #0070f3;
$dark-blue: #0056b3;
$primary-cyan: #32ade6;
$dark-cyan: #0071a4;
$primary-teal: #30b0c7;
$dark-teal: #008299;
$primary-mint: #00c7be;
$dark-mint: #0c817b;
$primary-green: rgb(40, 205, 65);
$dark-green: rgb(0, 125, 27);
$primary-red: rgb(255, 59, 48);
$dark-red: rgb(215, 0, 21);
$primary-pink: rgb(255, 90, 176);
$secondary-blue: rgb(77, 244, 255);
$primary-beige: #fdeff4;
$secondary-red: #ff5c8d;
