@use "../mixins/html_tags/button";
@use "../mixins/html_tags/input";

.container {
  background-color: #ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0 4px;

  input,
  textarea,
  select {
    @include input.default();
  }

  button {
    @include button.delete();
  }
}
