@use "../mixins/html_tags/button";

.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 40px;
  overflow-y: auto;

  .column {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: #f4f5f7;
    border-radius: 6px;
    min-width: 200px;
    max-width: 100%;
    text-align: center;
    align-items: center;

    h2 {
      color: #5e6c84;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.14286;
      text-transform: uppercase;
      letter-spacing: normal;
      padding: 6px;
    }

    .header {
      margin-bottom: 8px;
    }

    .add_button {
      @include button.add();
    }
  }
}
