@use "../../abstracts/colors";

@mixin default {
  color: colors.$primary-blue;
  text-align: center;

  &:hover {
    color: colors.$dark-blue;
  }
}

@mixin button-like {
  background-color: colors.$primary-blue;
  color: colors.$primary-white;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;

  &:hover {
    background-color: colors.$dark-blue;
  }
}

@mixin tool-like {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80px;
  height: 80px;
  background-color: colors.$primary-blue;
  color: colors.$primary-white;
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;

  &:hover {
    background-color: colors.$dark-blue;
  }
}

@mixin contrast {
  text-align: center;
  color: colors.$primary-white;
  outline: solid 1px colors.$primary-white;
  border-radius: 6px;
  padding: 8px;
  text-decoration: none;
  max-width: 140px;
  min-width: 70px;

  &:hover {
    background-color: colors.$primary-white;
    color: colors.$secondary-black;
  }
}
