@use "../../abstracts/colors";

@mixin add {
  background-color: colors.$primary-green;
  border: none;
  border-radius: 6px;
  color: colors.$primary-white;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 10px;
  max-width: 140px;
  min-width: 70px;

  &:hover {
    background-color: colors.$dark-green;
  }
}

@mixin delete {
  background-color: colors.$primary-red;
  border: none;
  border-radius: 6px;
  color: colors.$primary-white;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 10px;
  max-width: 140px;
  min-width: 70px;

  &:hover {
    background-color: colors.$dark-red;
  }
}
