@use "../../abstracts/colors";

@mixin default {
  border-radius: 6px;
  padding: 8px;
  min-width: 200px;

  &:focus {
    border-color: colors.$primary-blue;
  }
}

@mixin border_bottom {
  border: none;
  border-bottom: 1px solid colors.$gray8;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  color: colors.$secondary-black;

  &:focus {
    border-color: colors.$primary-blue;
  }
}
