@use "../mixins/html_tags/button";
@use "../mixins/html_tags/input";
@use "../mixins/html_tags/label";

.container {
  background-color: #ffffff;
  outline: 1px solid #ced0d4;
  border-radius: 6px;
  padding: 10px;
  margin: 0 4px;
  width: 85%;

  input,
  textarea,
  select {
    @include input.border_bottom();
  }

  label {
    @include label.default();
  }

  button {
    @include button.delete();
  }
}
