@use "../abstracts/colors";
@use "../mixins/html_tags/a";

.container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: colors.$secondary-black;
  padding: 10px 0px;

  nav {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;

    a {
      @include a.contrast();

      &.active {
        @include a.contrast-inverted();
      }
    }
  }
}
