@use "../mixins/html_tags/a";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0px;

  h1 {
    display: flex;
    align-self: center;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 20px;

    @media screen and (width >= 768px) {
      grid-template-columns: repeat(4, 1fr);
    }

    a {
      @include a.button-like();
      text-transform: capitalize;
    }
  }

  @media screen and (width >= 768px) {
    padding: 0px 40px;
  }
}
