@mixin default {
  border: none;
  border-bottom: 1px solid rgb(215, 215, 215);
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  color: black;
  background-color: inherit;

  &:focus {
    border-color: #4c9aff;
    box-shadow: 0 0 0 2px rgba(76, 154, 255, 0.5);
  }
}
